<app-header [title]="'CONTACT'"></app-header>
<div id="createProject">
    <div id="imgContactProject">
        <iframe width="100%" height="100%"
            src="https://api.maptiler.com/maps/a4083f5d-329e-41ef-85be-b6cfc48eab48/?key=3ya2S1TEUt3cQkhOpimh#10.2/33.98561/-118.16902"></iframe>
    </div>
    <div class="containerForm">
        <h3 class="titles">{{title}}</h3>
        <span class="textRequirmentsForm">
            Fill in the required fields (<span class="red">*</span>) to unlock the submit button
        </span>
        <form #contactForm="ngForm" (ngSubmit)="onSubmitContact(contactForm)">
            <span>
                <input type="text" name="name" #name="ngModel" [(ngModel)]="contact.name" placeholder="Name" required
                    autofocus>
                <span class="formError" *ngIf="name.touched && !name.valid">*</span>
            </span>
            <span>
                <input type="email" name="email" #email="ngModel" [(ngModel)]="contact.email" placeholder="Email"
                    required>
                <span class="formError" *ngIf="email.touched && !email.valid">*</span>
            </span>
            <span>
                <input type="text" name="subject" #subject="ngModel" [(ngModel)]="contact.subject" placeholder="Subject"
                    required>
            </span>
            <span>
                <textarea name="message" #message="ngModel" [(ngModel)]="contact.message" placeholder="Message"
                    required></textarea>
                <span class="formError" *ngIf="message.touched && !message.valid">*</span>
            </span>
            <div class="OpenAndSubmit">
                <div class="submitForm">
                    <input type="submit" name="" id="" value="Submit" placeholder="Submit"
                        [disabled]="!contactForm.form.valid">
                </div>
            </div>
        </form>
    </div>
</div>