<div id="createProject">
    <div id="imgContactProject">
        <fa-icon [icon]="faMapMarkerAlt" id="faMapMarkerAlt" (mouseover)="changeClass=true"
            (mouseout)="changeClass=false">
        </fa-icon>
        <div class="radar"></div>
        <div class="radar"></div>
        <div class="radar"></div>
        <div [class.active]="changeClass" class="tooltip" id="tooltip" (mouseover)="changeClass=true"
            (mouseout)="changeClass=false">
            <div class="thumb">
                <img src="../assets/media/losAngeles.jpg" alt="">
            </div>
            <div class="info">
                <h3 class="title">I'm here!</h3>
                <span class="resumen">Feel free to drop a line in the form or call me to <a href="tel:+34666008083">+34
                        666 00 80 83</a> and if you prefer
                    also can get
                    in touch with me through <a href="mailto:alejandro.12w@hotmail.com"
                        target="_blank">alejandro.12w@hotmail.com</a></span>
                <span class="adress">660 N San Fernando RD, LOS ANGELES, CALIFORNIA 90065 </span>
                <div class="containerBtn">
                    <a href="https://goo.gl/maps/JxnfjFpTL3JMupHq9" target="_blank" rel="noopener noreferrer">
                        <button>Open in Google Maps</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="containerForm">
        <h3 class="titles" data-aos="fade-left" data-aos-duration="2000">{{title}}</h3>
        <span class="textRequirmentsForm">
            Fill in the required fields (<span class="red">*</span>) to unlock the submit button
        </span>
        <form #contactForm="ngForm" (ngSubmit)="onSubmitContact(contactForm)">
            <span>
                <input type="text" name="name" #name="ngModel" [(ngModel)]="contact.name" placeholder="Name" required
                    autofocus>
                <span class="formError" *ngIf="name.touched && !name.valid">*</span>
            </span>
            <span>
                <input type="email" name="email" #email="ngModel" [(ngModel)]="contact.email" placeholder="Email"
                    required>
                <span class="formError" *ngIf="email.touched && !email.valid">*</span>
            </span>
            <span>
                <input type="text" name="subject" #subject="ngModel" [(ngModel)]="contact.subject" placeholder="Subject"
                    required>
            </span>
            <span>
                <textarea name="message" #message="ngModel" [(ngModel)]="contact.message" placeholder="Message"
                    required></textarea>
                <span class="formError" *ngIf="message.touched && !message.valid">*</span>
            </span>
            <div class="OpenAndSubmit">
                <!-- <div class="file">
                    <label for="image">Submit
                        <fa-icon [icon]="faArrowRight" id="iconFolder"></fa-icon>
                    </label>
                    <input type="submit" name="" value="Submit" placeholder="Submit">
                    
                </div> -->
                <div class="submitForm">
                    <input type="submit" name="" id="" value="Submit" placeholder="Submit"
                        [disabled]="!contactForm.form.valid">
                </div>
            </div>
        </form>
    </div>
</div>