<div id="createProject">
    <div id="imgContactProject">
    </div>

    <div class="containerForm">
        <h2 data-aos="fade-left" data-aos-duration="3000">{{title}}</h2>

        <form #contactForm="ngForm" (ngSubmit)="onSubmitContact(contactForm)">
            <span>
                <input type="text" name="name" #name="ngModel" [(ngModel)]="contact.name" placeholder="Name" required
                    autofocus>
                <span class="formError" *ngIf="name.touched && !name.valid">*</span>
            </span>
            <span>
                <input type="email" name="email" #email="ngModel" [(ngModel)]="contact.email" placeholder="Email"
                    required>
                <span class="formError" *ngIf="email.touched && !email.valid">*</span>
            </span>
            <span>
                <input type="text" name="subject" #subject="ngModel" [(ngModel)]="contact.subject" placeholder="Subject"
                    required>
            </span>
            <span>
                <textarea name="message" #message="ngModel" [(ngModel)]="contact.message" placeholder="Message"
                    required></textarea>
                <span class="formError" *ngIf="message.touched && !message.valid">*</span>
            </span>
            <div class="OpenAndSubmit">
                <div class="file">
                    <label for="image">Submit
                        <fa-icon [icon]="faArrowRight" id="iconFolder"></fa-icon>
                    </label>
                    <input type="submit" name="" value="Submit" placeholder="Submit"
                        [disabled]="!contactForm.form.valid">
                </div>
            </div>
        </form>
    </div>
</div>