<div class="aboutMe" *ngIf="project">
    <div class="aboutMeContainer" id="projectDetailContainer">
        <img class="imgeLeftMedium" src="{{url+'/getImage/'+project.image}}" alt="Project image" *ngIf="project.image">
        <div class="textAbout">
            <h3 class="titles">
                {{project.name}}
            </h3>
            <span class="descriptionAbout">
                {{project.description}}
            </span>
            <h3 class="category">Category: {{project.category}}</h3>
            <h3 class="languages">Languages</h3>
            <span class="languages">{{project.langs}}</span>
            <div class="bottonsProjecrtsDetail">
                <a class="seeProjectLink" href="{{project.repository}}" target="_blank" rel="noopener noreferrer">
                    <button>
                        <fa-icon [icon]="faGitHub" class="socialIcons"></fa-icon>
                        See this repository

                    </button>
                </a>
                <a class="seeProjectLink" href="{{project.preview}}" target="_blank" rel="noopener noreferrer">
                    <button>
                        <fa-icon [icon]="faYoutube" class="socialIcons"></fa-icon>
                        Watch a preview
                    </button>
                </a>

            </div>
            <div class="bottonsProjecrtsDetail displayNone" *ngIf="confirm == false">
                <a [routerLink]="['/edit', project._id]"><button>
                        Set project
                    </button></a>
                <button (click)="setConfirm(true)">
                    Delete project
                </button>
            </div>
            <div class="bottonsProjecrtsDetail" *ngIf="confirm == true">
                <a (click)="setConfirm(false)"><button>
                        Cancel
                    </button></a>
                <button (click)="deleteProject(project._id)">
                    Permanently delete
                </button>
            </div>
            <a [routerLink]="['/projects']" fragment="portfolioPage">
                <button class="bottonsGoBack">
                    <fa-icon [icon]="faArrowLeft"></fa-icon>&nbsp; &nbsp;Go back to all projects
                </button>
            </a>
        </div>
    </div>
</div>


<!-- (click)="deleteProject(project._id)"> -->