<app-header [title]="'CHAT BOT'"></app-header>
<div class="my-chatGPT">
    <div class="container ">
        <div class="card">
            <div class="card-header">
                <h1>Ale chatbot</h1><span class="subtitleItalic">Powered by ChatGPT</span>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 response">
                        </div>
                    </div>
                </div>
                <input [(ngModel)]="message" type="text" class="form-control my-input" name="messages"
                    placeholder="Ask me anything...">
                <button class="btn btn-outline-primary mt-2 mr-2" (click)="sendMessage()">Submit</button>
                <button class="btn btn-outline-danger mt-2 mr-2" (click)="clearMessage()">Clear</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>