<app-header [title]="'CHATBOT'" [title2]="''" [subTitle]="'Ask anything!'"
    [subTitle2]="'Powered by ChatGPT'"></app-header>
<div class="my-chatGPT">
    <div class="container ">
        <div class="card">
            <div class="card-header col-6">
                <h1>AI chatbot</h1><span class="subtitleItalic">This is an AI assistant that is powered by ChatGPT
                    model to deliver any AI-powered search, conversation, text completionand other advanced AI
                    features.</span>
            </div>
            <div class="card-body mt-4">
                <div class="container">
                    <div class="row">
                        <div class="col-12 response">
                        </div>
                    </div>
                </div>
                <input [(ngModel)]="message" type="text" class="form-control my-input" name="messages"
                    placeholder="Ask me anything...">
                <button class="btn btn-outline-primary mt-2 mr-2" (click)="sendMessage()">Submit</button>
                <button class="btn btn-outline-danger mt-2 mr-2" (click)="clearMessage()">Clear</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>