<!-- footer------------------------------------------------------------------------ -->
<footer>
    <div class="footerTextContainer">
        <div class="footerText animatedBAckToTop">
            <a (click)="scrollToTop()">
                <fa-icon [icon]="faArrowUp" class="socialIcons linkBGdark"></fa-icon>
            </a>
        </div>
        <div class="footerText">
            Wanna get in touch or talk about a project?
        </div>
        <div class="footerText">
            Feel free to drop a line in the form at the
            <a [routerLink]="['/contact']" fragment="createProject" class="linkBGdark">contact page</a>.
        </div>

    </div>
</footer>