<video #video autoplay playsinline muted loop preload poster="" id="myVideo">
    <source src="../assets/media/videoBG.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
</video>
<header #header id="header">

    <div class="scrollDownHomeLeft">
        <span>
            Scroll down
        </span>
        <fa-icon [icon]="faArrowDown"></fa-icon>
    </div>
    <div id="squareTitle">
        <section id="title" #titleNamed class="animate__animated animate__flipInX">
            {{ title }} <br> {{ title2 }}
        </section>
        <span id="subTitle" class="animate__animated animate__rubberBand">
            {{ subTitle }} <br> {{ subTitle2 }}
            <!-- <br><a [routerLink]="['/projects']" fragment="projectsTitle"><span class="linkBGdark">View my work <fa-icon
                        [icon]="faArrowRight"></fa-icon></span></a> -->
        </span>
    </div>
    <div class="scrollDownHomeRight">
        <span>
            Scroll down
        </span>
        <fa-icon [icon]="faArrowDown"></fa-icon>
    </div>
</header>