@font-face {
    font-family: "IMPACT";
    src: url("../../../fonts/IMPACT.ttf");
  }
  $titleImpactFont: "IMPACT";

    $backgroundColorGlobalPrimary: #ffffff;
    $backgroundColorGlobalSecundary: #f4f4f6;
    $backgroundColorFormBox: #eeeef0;
    $backgroundColorDarkPrimary: #35373e;
    $backgroundColorDarkSecundary: #2d2f35;
    $backgroundColorDarkThird: #4d5159;
    $TextColorGlobalSecundary: #acafba;
    $customBlue: #00ADB5;

.dsc-carousel{
    width: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before{
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba($color: #000000, $alpha: 0.48);
    }
    &__content{
        text-align: center;
        width: 100%;
        align-self: stretch;
        display: flex;
        overflow: hidden;
        &-item{
            float: left;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: 1s all ease-in;

            h1{
                color: $backgroundColorGlobalSecundary;
                font-weight: 900;
                z-index: 1;
                font-family: $titleImpactFont;
                .span1{
                    color: $backgroundColorGlobalPrimary;
                }
                .span2{
                    color: $customBlue;
                }
                font-size: 7em;
            }
            p{
                width: 35%;
                z-index: 1;
                color: $backgroundColorGlobalSecundary;
                font-size: 1em;
            }
            /*------------buton--------------------*/
            .buttonGoToProject{
                position: relative;
                background: white;
                color: rgb(255, 255, 255);
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.3em;
                letter-spacing: 00.1em;
                font-weight: 400;
                padding: 10px 30px;
                transition: 0.5s;
            }
            
            .buttonGoToProject:hover{
                background: var(--clr);
                color: var(--clr);
                letter-spacing: 00.35em;
                box-shadow: 0 0 15px var(--clr);
            }
            
            .buttonGoToProject::before{
                content: '';
                position: absolute;
                inset: 2px;
                background: $backgroundColorDarkSecundary;
            }
            .buttonGoToProject>span{
                position: relative;
                z-index: 1; 
            }
            i{
                position: absolute;
                inset: 0;
                display: block;
            }
            i::before
            {
                content: '';
                position: absolute;
                top: 0;
                left: 80%;
                width: 10px;
                height: 4px;
                background: $backgroundColorDarkSecundary;
                transform: translateX(-50%) skewX(325deg);
                transition: 00.5s;
            }
            .buttonGoToProject:hover i::before{
                width: 20px;
                left: 20%;
            }
            
            i::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 20%;
                width: 10px;
                height: 4px;
                background: $backgroundColorDarkSecundary;
                transform: translateX(-50%) skew(325deg);
                transition: 00.5s;
            }
            .buttonGoToProject:hover i::after
            {
                width: 20px;
                left: 80%;
            }
        }
    }
    &__btns{
        position: absolute;
        bottom: 40px;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;

        > fa-icon{
            color: $backgroundColorGlobalSecundary;
            font-size: 1.8rem;
            justify-content: space-between;  
            
            &:hover {
            color: $customBlue; /* Change the color to blue on hover */
            }
        }
    
    }
    &__steps{
        position: absolute;
        bottom: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        
        &-step{
            height: 8px;
            width: 25px;
            margin: 0 5px;
            border-radius: 5px;
            border: 1px solid rgba($color: $TextColorGlobalSecundary, $alpha: 0.7);
            transition: 0.75s all ease-in-out;
            &:hover, &:active{
                opacity: 0.7;
                background: $backgroundColorGlobalSecundary;
            }
        }
    }
    .dsc-carousel__steps-step.active {
        background-color: $TextColorGlobalSecundary;
      }
}

@media (max-width: 845px){
    .dsc-carousel__content-item h1 {
        font-size: 3em;
    }
    .dsc-carousel__content-item p {
        width: 70%;
        text-align: justify;
    }
    .dsc-carousel__btns {
        display: none;
    }
}