<!-- HEEADER------------------------------------------------------------------------ -->
<!-- <app-particle-animation></app-particle-animation> -->
<app-text-three></app-text-three>

<!-- <div class="scrollDownHomeLeft">
    <span>
        Scroll down
    </span>
    <fa-icon [icon]="faArrowDown"></fa-icon>
</div> -->
<!-- <div class="scrollDownHomeRight">
    <span>
        Scroll down
    </span>
    <fa-icon [icon]="faArrowDown"></fa-icon>
</div> -->
<div #fieldScrollAnimation class="fieldScrollAnimation">
    <div class="mouseScroll"></div>
</div>

<app-mega-text-video></app-mega-text-video>

<!-- about------------------------------------------------------------------------ -->
<section id="aboutMe" #aboutMe class="aboutMe">
    <div class="aboutMeContainer">
        <div id="imgAbout">
            <img id="imgAbout1" src="../assets/media/about.jpg" alt="About">
            <img id="imgAbout2" src="../assets/media/74553037.jpeg" alt="About">

        </div>
        <div class="textAbout">
            <h3 class="titles">
                Who's this guy
            </h3>
            <span class="descriptionAbout">
                I’m a Web Developer based between Barcelona (Spain) and Los Ángeles CA (USA).<br> My concept is
                never
                stop to learn that's
                why I've got
                a
                personal interest for continuous learning and
                self improvement.<br>
            </span>
        </div>

    </div>
</section>
<!-- SkillSet------------------------------------------------------------------------ -->
<div class="skillSetContainer">
    <div class="containerTitle">
        <h2>
            Skill Set
        </h2>
    </div>
</div>
<div class="slider">
    <div class="sliderTrack">
        <!-- slides -->
        <div class="slide">
            <img src="../assets/media/java.png" alt="logo java">
        </div>
        <div class="slide">
            <img src="../assets/media/javascript.png" alt="logo javascript">
        </div>
        <div class="slide">
            <img src="../assets/media/css.png" alt="logo css">
        </div>
        <div class="slide">
            <img src="../assets/media/html.png" alt="logo html">
        </div>
        <div class="slide">
            <img src="../assets/media/Bootstrap.png" alt="logo bootstrap">
        </div>
        <div class="slide">
            <img src="../assets/media/git.png" alt="logo git">
        </div>
        <div class="slide">
            <img src="../assets/media/sass.png" alt="logo sass">
        </div>
        <div class="slide">
            <img src="../assets/media/wordpress.png" alt="logo wordpress">
        </div>
        <div class="slide">
            <img src="../assets/media/php.png" alt="logo php">
        </div>
        <div class="slide">
            <img src="../assets/media/mysql.png" alt="logo mysql">
        </div>
        <div class="slide">
            <img src="../assets/media/jquery.png" alt="logo jquery">
        </div>
        <div class="slide">
            <img src="../assets/media/Angular.png" alt="logo angular">
        </div>
        <div class="slide">
            <img src="../assets/media/logoPS.png" alt="logo adobe PS">
        </div>
        <div class="slide">
            <img src="../assets/media/adobeXDlogo.png" alt="logo adobe XD">
        </div>

        <!-- slides duplicated -->
        <div class="slide">
            <img src="../assets/media/java.png" alt="logo java">
        </div>
        <div class="slide">
            <img src="../assets/media/javascript.png" alt="logo javascript">
        </div>
        <div class="slide">
            <img src="../assets/media/css.png" alt="logo css">
        </div>
        <div class="slide">
            <img src="../assets/media/html.png" alt="logo html">
        </div>
        <div class="slide">
            <img src="../assets/media/Bootstrap.png" alt="logo bootstrap">
        </div>
        <div class="slide">
            <img src="../assets/media/git.png" alt="logo git">
        </div>
        <div class="slide">
            <img src="../assets/media/sass.png" alt="logo sass">
        </div>
        <div class="slide">
            <img src="../assets/media/wordpress.png" alt="logo wordpress">
        </div>
        <div class="slide">
            <img src="../assets/media/php.png" alt="logo php">
        </div>
        <div class="slide">
            <img src="../assets/media/mysql.png" alt="logo mysql">
        </div>
        <div class="slide">
            <img src="../assets/media/jquery.png" alt="logo jquery">
        </div>
        <div class="slide">
            <img src="../assets/media/Angular.png" alt="logo angular">
        </div>
        <div class="slide">
            <img src="../assets/media/logoPS.png" alt="logo adobe PS">
        </div>
        <div class="slide">
            <img src="../assets/media/adobeXDlogo.png" alt="logo adobe XD">
        </div>

        <!-- slides duplicated -->
        <div class="slide">
            <img src="../assets/media/java.png" alt="logo java">
        </div>
        <div class="slide">
            <img src="../assets/media/javascript.png" alt="logo javascript">
        </div>
        <div class="slide">
            <img src="../assets/media/css.png" alt="logo css">
        </div>
        <div class="slide">
            <img src="../assets/media/html.png" alt="logo html">
        </div>
        <div class="slide">
            <img src="../assets/media/Bootstrap.png" alt="logo bootstrap">
        </div>
        <div class="slide">
            <img src="../assets/media/git.png" alt="logo git">
        </div>
        <div class="slide">
            <img src="../assets/media/sass.png" alt="logo sass">
        </div>
        <div class="slide">
            <img src="../assets/media/wordpress.png" alt="logo wordpress">
        </div>
        <div class="slide">
            <img src="../assets/media/php.png" alt="logo php">
        </div>
        <div class="slide">
            <img src="../assets/media/mysql.png" alt="logo mysql">
        </div>
        <div class="slide">
            <img src="../assets/media/jquery.png" alt="logo jquery">
        </div>
        <div class="slide">
            <img src="../assets/media/Angular.png" alt="logo angular">
        </div>
        <div class="slide">
            <img src="../assets/media/logoPS.png" alt="logo adobe PS">
        </div>
        <div class="slide">
            <img src="../assets/media/adobeXDlogo.png" alt="logo adobe XD">
        </div>

        <!-- slides duplicated -->
        <div class="slide">
            <img src="../assets/media/java.png" alt="logo java">
        </div>
        <div class="slide">
            <img src="../assets/media/javascript.png" alt="logo javascript">
        </div>
        <div class="slide">
            <img src="../assets/media/css.png" alt="logo css">
        </div>
        <div class="slide">
            <img src="../assets/media/html.png" alt="logo html">
        </div>
        <div class="slide">
            <img src="../assets/media/Bootstrap.png" alt="logo bootstrap">
        </div>
        <div class="slide">
            <img src="../assets/media/git.png" alt="logo git">
        </div>
        <div class="slide">
            <img src="../assets/media/sass.png" alt="logo sass">
        </div>
        <div class="slide">
            <img src="../assets/media/wordpress.png" alt="logo wordpress">
        </div>
        <div class="slide">
            <img src="../assets/media/php.png" alt="logo php">
        </div>
        <div class="slide">
            <img src="../assets/media/mysql.png" alt="logo mysql">
        </div>
        <div class="slide">
            <img src="../assets/media/jquery.png" alt="logo jquery">
        </div>
        <div class="slide">
            <img src="../assets/media/Angular.png" alt="logo angular">
        </div>
        <div class="slide">
            <img src="../assets/media/logoPS.png" alt="logo adobe PS">
        </div>
        <div class="slide">
            <img src="../assets/media/adobeXDlogo.png" alt="logo adobe XD">
        </div>

    </div>
</div>

<div id="createProject">
    <div id="imgCreateProject">
        <div id="tilleImgCreateProject">
            <h1>Tech <br>Skill</h1>
        </div>
    </div>
    <div class="containerForm paddingRight200">
        <h3 class="titles">Background</h3>
        <span class="descriptionAbout">
            I enjoy creating things that live on the internet. My interest in web development started back a long
            time
            ago when
            I was completing my professional career in graphic design.
        </span>
        <span class="descriptionAbout marginTop50">

            I'm lucky to have worked with amazing people in Europe
            for important and ambitious global companies where I learned a lot.
            My main focus these days is building accessible, inclusive products and digital experiences for a
            variety of
            clients.
        </span>
        <span class="descriptionAbout marginTop50">
            You can check out the whole
            list of degrees, courses, soft
            and hard skills in my

            <a href="https://github.com/alejoalonzo" target="_blank" rel="noopener noreferrer" class="linkBGwhite">
                linkedin
            </a> profile.
        </span>
    </div>
</div>
<app-footer></app-footer>