<!-- about------------------------------------------------------------------------ -->
<section class="aboutMe">
    <div class="aboutMeContainer">
        <div id="imgAbout">
            <img data-aos="fade-up" data-aos-duration="1000" id="imgAbout1" src="../assets/media/about.jpg" alt="About">
            <img data-aos="fade-down" data-aos-duration="1000" id="imgAbout2" src="../assets/media/74553037.jpeg"
                alt="About">

        </div>
        <div class="textAbout" data-aos="fade-left" data-aos-duration="2000">
            <h3 class="titles">
                Who's this guy
            </h3>
            <span class="descriptionAbout">
                My concept is never stop to learn that's why I've got a personal interest for continuous learning and
                self
                improvement.
                I love to play the guitar in my free time, and I also really like to travel around the world and connect
                with many people.
            </span>
        </div>

    </div>
</section>
<!-- SkillSet------------------------------------------------------------------------ -->
<div class="skillSetContainer">
    <div class="containerTitle">
        <h2>
            Skill Set
        </h2>
    </div>
</div>
<div class="slider">
    <div class="sliderTrack">
        <!-- slides -->
        <div class="slide">
            <img src="../assets/media/java.png" alt="logo java">
        </div>
        <div class="slide">
            <img src="../assets/media/javascript.png" alt="logo javascript">
        </div>
        <div class="slide">
            <img src="../assets/media/css.png" alt="logo css">
        </div>
        <div class="slide">
            <img src="../assets/media/html.png" alt="logo html">
        </div>
        <div class="slide">
            <img src="../assets/media/Bootstrap.png" alt="logo bootstrap">
        </div>
        <div class="slide">
            <img src="../assets/media/git.png" alt="logo git">
        </div>
        <div class="slide">
            <img src="../assets/media/sass.png" alt="logo sass">
        </div>
        <div class="slide">
            <img src="../assets/media/wordpress.png" alt="logo wordpress">
        </div>
        <div class="slide">
            <img src="../assets/media/php.png" alt="logo php">
        </div>
        <div class="slide">
            <img src="../assets/media/mysql.png" alt="logo mysql">
        </div>
        <div class="slide">
            <img src="../assets/media/jquery.png" alt="logo jquery">
        </div>
        <div class="slide">
            <img src="../assets/media/Angular.png" alt="logo angular">
        </div>
        <div class="slide">
            <img src="../assets/media/logoPS.png" alt="logo adobe PS">
        </div>
        <div class="slide">
            <img src="../assets/media/adobeXDlogo.png" alt="logo adobe XD">
        </div>

        <!-- slides duplicated -->
        <div class="slide">
            <img src="../assets/media/java.png" alt="logo java">
        </div>
        <div class="slide">
            <img src="../assets/media/javascript.png" alt="logo javascript">
        </div>
        <div class="slide">
            <img src="../assets/media/css.png" alt="logo css">
        </div>
        <div class="slide">
            <img src="../assets/media/html.png" alt="logo html">
        </div>
        <div class="slide">
            <img src="../assets/media/Bootstrap.png" alt="logo bootstrap">
        </div>
        <div class="slide">
            <img src="../assets/media/git.png" alt="logo git">
        </div>
        <div class="slide">
            <img src="../assets/media/sass.png" alt="logo sass">
        </div>
        <div class="slide">
            <img src="../assets/media/wordpress.png" alt="logo wordpress">
        </div>
        <div class="slide">
            <img src="../assets/media/php.png" alt="logo php">
        </div>
        <div class="slide">
            <img src="../assets/media/mysql.png" alt="logo mysql">
        </div>
        <div class="slide">
            <img src="../assets/media/jquery.png" alt="logo jquery">
        </div>
        <div class="slide">
            <img src="../assets/media/Angular.png" alt="logo angular">
        </div>
        <div class="slide">
            <img src="../assets/media/logoPS.png" alt="logo adobe PS">
        </div>
        <div class="slide">
            <img src="../assets/media/adobeXDlogo.png" alt="logo adobe XD">
        </div>

        <!-- slides duplicated -->
        <div class="slide">
            <img src="../assets/media/java.png" alt="logo java">
        </div>
        <div class="slide">
            <img src="../assets/media/javascript.png" alt="logo javascript">
        </div>
        <div class="slide">
            <img src="../assets/media/css.png" alt="logo css">
        </div>
        <div class="slide">
            <img src="../assets/media/html.png" alt="logo html">
        </div>
        <div class="slide">
            <img src="../assets/media/Bootstrap.png" alt="logo bootstrap">
        </div>
        <div class="slide">
            <img src="../assets/media/git.png" alt="logo git">
        </div>
        <div class="slide">
            <img src="../assets/media/sass.png" alt="logo sass">
        </div>
        <div class="slide">
            <img src="../assets/media/wordpress.png" alt="logo wordpress">
        </div>
        <div class="slide">
            <img src="../assets/media/php.png" alt="logo php">
        </div>
        <div class="slide">
            <img src="../assets/media/mysql.png" alt="logo mysql">
        </div>
        <div class="slide">
            <img src="../assets/media/jquery.png" alt="logo jquery">
        </div>
        <div class="slide">
            <img src="../assets/media/Angular.png" alt="logo angular">
        </div>
        <div class="slide">
            <img src="../assets/media/logoPS.png" alt="logo adobe PS">
        </div>
        <div class="slide">
            <img src="../assets/media/adobeXDlogo.png" alt="logo adobe XD">
        </div>

        <!-- slides duplicated -->
        <div class="slide">
            <img src="../assets/media/java.png" alt="logo java">
        </div>
        <div class="slide">
            <img src="../assets/media/javascript.png" alt="logo javascript">
        </div>
        <div class="slide">
            <img src="../assets/media/css.png" alt="logo css">
        </div>
        <div class="slide">
            <img src="../assets/media/html.png" alt="logo html">
        </div>
        <div class="slide">
            <img src="../assets/media/Bootstrap.png" alt="logo bootstrap">
        </div>
        <div class="slide">
            <img src="../assets/media/git.png" alt="logo git">
        </div>
        <div class="slide">
            <img src="../assets/media/sass.png" alt="logo sass">
        </div>
        <div class="slide">
            <img src="../assets/media/wordpress.png" alt="logo wordpress">
        </div>
        <div class="slide">
            <img src="../assets/media/php.png" alt="logo php">
        </div>
        <div class="slide">
            <img src="../assets/media/mysql.png" alt="logo mysql">
        </div>
        <div class="slide">
            <img src="../assets/media/jquery.png" alt="logo jquery">
        </div>
        <div class="slide">
            <img src="../assets/media/Angular.png" alt="logo angular">
        </div>
        <div class="slide">
            <img src="../assets/media/logoPS.png" alt="logo adobe PS">
        </div>
        <div class="slide">
            <img src="../assets/media/adobeXDlogo.png" alt="logo adobe XD">
        </div>

    </div>
</div>

<div id="createProject">
    <div id="imgCreateProject">
        <div id="tilleImgCreateProject">
            <h1>Tech <br>Skill</h1>
        </div>
    </div>
    <div class="containerForm">
        <h3 class="titles" data-aos="fade-left" data-aos-duration="2000">My background</h3>
        <span class="descriptionAbout  paddingRight200" data-aos="fade-left" data-aos-duration="2000">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro velit nemo quia nulla deserunt similique
            eligendi hic. Qui, et nisi obcaecati numquam, modi consequuntur eos doloribus, minus beatae ipsam facilis!
        </span>
        <span class="descriptionAbout marginTop50" data-aos="fade-left" data-aos-duration="2000">CFGS Web Applications
            Development</span>
        <span class="descriptionAbout" data-aos="fade-left" data-aos-duration="2000">IFP (Barcelona, Spain.
            2020-2022)</span>
        <span class="descriptionAbout marginTop50" data-aos="fade-left" data-aos-duration="2000">Bachelor's Degree in
            Graphic Design</span>
        <span class="descriptionAbout" data-aos="fade-left" data-aos-duration="2000">UES (El Salvador, 2006-2013)</span>
    </div>
</div>

<!-- footer------------------------------------------------------------------------ -->
<footer>
    <div class="footerTextContainer">
        <div class="footerText animatedBAckToTop">
            <a [routerLink]="['/about-me']">
                <fa-icon [icon]="faArrowUp" class="socialIcons linkBGdark"></fa-icon>
            </a>
        </div>
        <div class="footerText">
            Wanna get in touch or talk about a project?
        </div>
        <div class="footerText">
            Feel free to drop a line in the form at the
            <a [routerLink]="['/contact']" fragment="createProject" class="linkBGdark">contact page</a>.
        </div>

    </div>
</footer>