<div class="cursor"></div>
<div class="cursor2"></div>
<!-- sideBars ------------------------------------------------------------------------>
<div id="switchColor">
  <a href="https://api.whatsapp.com/send?phone=16262436274&text=Hello!&nbsp;Can&nbsp;you&nbsp;help&nbsp;me?"
    target="_blank" rel="noopener noreferrer">
    <div id="day" class="boxSideBars">
      <fa-icon [icon]="faWhatsapp" class="socialIcons"></fa-icon>
    </div>
  </a>
  <a href="mailto:alejandro.12w@gmail.com" target="_blank" rel="noopener noreferrer">
    <div id="night" class="boxSideBars">
      <fa-icon [icon]="faMailBulk" class="socialIcons"></fa-icon>
    </div>
  </a>
</div>
<div id="social">
  <a href="https://www.linkedin.com/in/alejandro-alonzo-69639a38/" target="_blank" rel="noopener noreferrer">
    <div id="linkedin" class="boxSideBars">
      <fa-icon [icon]="faLinkedinIn" class="socialIcons"></fa-icon>
    </div>
  </a>
  <!-- <a href="https://www.youtube.com/channel/UCFt69MxS_7dK54ii5yQoNEA" target="_blank" rel="noopener noreferrer">
    <div id="youtube" class="boxSideBars">
      <fa-icon [icon]="faYoutube" class="socialIcons"></fa-icon>
    </div>
  </a> -->
  <a href="https://github.com/alejoalonzo" target="_blank" rel="noopener noreferrer">
    <div id="github" class="boxSideBars">
      <fa-icon [icon]="faGitHub" class="socialIcons"></fa-icon>
    </div>
  </a>
</div>

<!-- navbar------------------------------------------------------------------------ -->
<nav #navbar>
  <ul id="homeBtnMenu">
    <li><a [routerLink]="['']" [routerLinkActive]="['actived']">alex</a></li>
  </ul>
  <ul id="btnsMenu">
    <li><a [routerLink]="['/projects']" fragment="projectsTitle" [routerLinkActive]="['actived']">Projects</a></li>
    <!-- <li><a [routerLink]="['/create']" [routerLinkActive]="['actived']">CREATE</a></li> -->
    <li><a [routerLink]="['/contact']" fragment="createProject" [routerLinkActive]="['actived']">Contact</a></li>
    <!-- <li><a href="/assets/media/ManuelAlejandroCV.pdf" [routerLinkActive]="['actived']" target="blank">RESUME</a></li> -->
    <li><a [routerLink]="['/chatbot']" fragment="chatbot" [routerLinkActive]="['actived']">alex Chatbot</a></li>
  </ul>
  <div class="hide">
    <fa-icon [icon]="faBars"></fa-icon>
  </div>
</nav>

<router-outlet></router-outlet>