<!-- header---------------------------------------------------------------- -->
<header>
  <div id="squareTitle">
    <h1 id="title">
      ale <br>
      web <br>
      dev
    </h1>
    <span id="subTitle">
      Hi there! I'm Alejandro. <br>I'm a web developer.
    </span>

  </div>
</header>

<!-- sideBars ------------------------------------------------------------------------>

<div id="switchColor">
  <div id="day"></div>
  <div id="night"></div>
</div>
<div id="social">
  <div id="linkedin"></div>
  <div id="youtube"></div>
  <div id="github"></div>
</div>

<!-- navbar------------------------------------------------------------------------ -->
<nav>
  <ul>
    <li><a [routerLink]="['/about-me']">About</a></li>
    <li><a [routerLink]="['/projects']">Projects</a></li>
    <li><a [routerLink]="['/create']">Create</a></li>
    <li><a [routerLink]="['/contact']">Contact</a></li>
  </ul>
</nav>


<!-- about------------------------------------------------------------------------ -->
<section id="aboutMe">

</section>


<router-outlet></router-outlet>