<!-- header---------------------------------------------------------------- -->
<header>
  <div id="squareTitle">
    <h1 id="title">
      ale <br>
      web <br>
      dev
    </h1>
    <span id="subTitle">
      Hi there! I'm Alejandro. <br>I'm a web developer.
    </span>

  </div>
</header>

<!-- sideBars ------------------------------------------------------------------------>

<div id="switchColor">
  <div id="day" class="boxSideBars">
    <fa-icon [icon]="faSun" class="socialIcons"></fa-icon>
  </div>
  <div id="night" class="boxSideBars">
    <fa-icon [icon]="faMoon" class="socialIcons"></fa-icon>
  </div>
</div>
<div id="social" class="boxSideBars">
  <div id="linkedin" class="boxSideBars">
    <fa-icon [icon]="faLinkedinIn" class="socialIcons"></fa-icon>
  </div>
  <div id="youtube" class="boxSideBars">
    <fa-icon [icon]="faYoutube" class="socialIcons"></fa-icon>
  </div>
  <div id="github" class="boxSideBars">
    <fa-icon [icon]="faGitHub" class="socialIcons"></fa-icon>
  </div>
</div>

<!-- navbar------------------------------------------------------------------------ -->
<nav>


  <ul>
    <li id="homeBtnMenu"><a [routerLink]="['']" [routerLinkActive]="['actived']">Alejo</a></li>
    <li><a [routerLink]="['/about-me']" [routerLinkActive]="['actived']">About</a></li>
    <li><a [routerLink]="['/projects']" [routerLinkActive]="['actived']">Projects</a></li>
    <li><a [routerLink]="['/create']" [routerLinkActive]="['actived']">Create</a></li>
    <li><a [routerLink]="['/contact']" [routerLinkActive]="['actived']">Contact</a></li>
  </ul>
</nav>

<!-- <fa-icon [icon]="faCoffee"></fa-icon> -->
<!-- <fa-icon [icon]="faFolderOpen"></fa-icon> -->

<router-outlet></router-outlet>