<!-- <img src="../../../assets/media/WORK.png" alt="WORK" class="mask">  -->
<div class="containerSubTitleProjectWord">

</div>
<div #containerSubTitleProjectWord class="containerSubTitleProjectWord">
    <span class="subTitleProjectWord">Hi there! I'm Alejandro Alonzo, I'm a <a [routerLink]="['/projects']"
            fragment="projectsTitle"><span class="linkBGdark">web developer. // Let me show you <fa-icon
                    [icon]="faArrowRight"></fa-icon></span></a></span>
</div>


<header #headerE1>
    <video #videoEl autoplay muted loop preload poster="">
        <!-- <source src="" /> -->
        <source src="../../../assets/media/MyWork.mp4" />
    </video>
    <svg #svgElement xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 80" preserveAspectRatio="xMidYMid slice">
        <defs>
            <mask id="mask" x="0" y="0" width="100%" height="100%">
                <rect x="0" y="0" width="100%" height="100%" />
                <text #headerText id="header-text" x="50%" y="50" text-anchor="middle"
                    dominant-baseline="middle">WORK</text>
            </mask>
        </defs>
        <rect x="0" y="0" width="100%" height="100%" />
    </svg>
</header>

<!-- <div class="containerSubTitleProjectWord2">
    <span class="subTitleProjectWord2">See <a [routerLink]="['/projects']" fragment="projectsTitle"><span
                class="linkBGdark">details <fa-icon [icon]="faArrowRight"></fa-icon></span></a></span>
</div> -->