<!-- <img src="../../../assets/media/WORK.png" alt="WORK" class="mask">  -->
<div class="containerSubTitleProjectWord">

</div>
<div #containerSubTitleProjectWord class="containerSubTitleProjectWord">
    <span class="subTitleProjectWord">Hi there! I'm Alejandro Alonzo, <a [routerLink]="['/projects']"
            fragment="projectsTitle"><span class="linkBGdark">+3 years coding. // Let me show you <fa-icon
                    [icon]="faArrowRight"></fa-icon></span></a></span>
</div>
<span #playVideoButon class="playVideoButon">
    <fa-icon [icon]="faPlayCircle "></fa-icon>
</span>

<header #headerE1 class="containerMegavideoText">
    <div #mask class="mask"></div>
    <video #videoEl preload autoplay loop muted playsinline>
        <!-- <source src="" /> -->
        <source src="../../../assets/media/MyWork.mp4" />
    </video>
    <svg #svgElement xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 80" preserveAspectRatio="xMidYMid slice">
        <defs>
            <mask id="mask" x="0" y="0" width="100%" height="100%">
                <rect x="0" y="0" width="100%" height="100%" />
                <text #headerText id="header-text" x="50%" y="50" text-anchor="middle"
                    dominant-baseline="middle">WORK</text>
            </mask>
        </defs>
        <rect x="0" y="0" width="100%" height="100%" />
    </svg>
</header>
<div #viewProjectsButonWORK class="viewProjectsButonWORK">
    <span><a [routerLink]="['/projects']" class="viewProjectsButonWORKspan">PROJECTS </a></span>|<span
        [routerLink]="['/']" fragment="aboutMe" class="viewProjectsButonWORKspan"> ABOUT</span>
</div>