@font-face {
  font-family: IMPACT;
  src:url("../../../fonts/IMPACT.TTF");
}

@font-face {
  font-family: "MavenPro-Regular";
  src: url("../../../fonts/MavenPro-Regular.ttf");
}
$textFontGeneral: "MavenPro-Regular";
$backGroundColorDark : #35373e;
$TextColorGlobalSecundary: #acafba;

*{
  box-sizing: border-box;
}
body {
  background: white;
  margin: 0;
}

header { 
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 100%;
  
  // overflow: hidden;
}

header video { 
  width: 100%;
}

svg { 
  width: 100%;
  position:absolute;
  top: 0;
  left: 0; // needed for FF, Safari, Edge
  height: 100%;
}

svg text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 4.5em;
  letter-spacing: -2px;
  text-align: center;

}

svg rect {
  fill: white;
}

svg > rect {
  -webkit-mask: url(#mask);
  mask: url(#mask);
  fill: $backGroundColorDark;
}

svg > text {
  fill: black;
  width: 100%;
}

#header-text {
  transform-origin: center center;
  transition: transform 0.5s ease-out;
}

.containerSubTitleProjectWord{
  display: flex;
  width: 100%;
  background-color: $backGroundColorDark;
}
.subTitleProjectWord{
  font-family: $textFontGeneral;
  margin-left: 5%;
  color: $TextColorGlobalSecundary;
  position: relative;
  top: 160px;
  z-index: 2;
}
.containerSubTitleProjectWord2{
  display: flex;
  width: 100%;
  background-color: $backGroundColorDark;  
  justify-content: end;
}
.subTitleProjectWord2{
  font-family: $textFontGeneral;
  color: $TextColorGlobalSecundary;

  position: relative;
  bottom: 50px;
  right: 5%;
  z-index: 2;
}
