/* You can add global styles to this file, and also import other style files */

/*Fonts*/
@font-face {
  font-family: "IMPACT";
  src: url("./fonts/IMPACT.ttf");
}
$titleImpactFont: "IMPACT";


@font-face {
  font-family: "Jaapokki-Regular";
  src: url("./fonts/Jaapokki-Regular.otf");
}
$titleFont: "Jaapokki-Regular";

@font-face {
  font-family: "Jaapokkienchance-Regular";
  src: url("./fonts/Jaapokkienchance-Regular.otf");
}
$titleFont2: "Jaapokkienchance-Regular";

@font-face {
  font-family: "Jaapokkisubtract-Regular";
  src: url("./fonts/Jaapokkisubtract-Regular.otf");
}
$titleFontSubtract: "Jaapokkisubtract-Regular";

@font-face {
  font-family: "MavenPro-Regular";
  src: url("./fonts/MavenPro-Regular.ttf");
}
$textFontGeneral: "MavenPro-Regular";

@mixin cursor-transform {
  transform: translate(-50%, -50%) scale(1.5);
}

/*General styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #35373e;
  font-family: $textFontGeneral;
  margin: 0px;
  overflow-x: hidden;
  cursor: none;
}

/*global colors*/
$backgroundColorGlobalPrimary: #ffffff;
$backgroundColorGlobalSecundary: #f4f4f6;
$backgroundColorFormBox: #eeeef0;
$backgroundColorDarkPrimary: #35373e;
$backgroundColorDarkSecundary: #2d2f35;
$backgroundColorDarkThird: #4d5159;
$TextColorGlobalPrimary: #35373e;
$TextColorGlobalSecundary: #acafba;
$TextColorGlobalDarkBG: #ffffff;
$customBlue: #00ADB5;
$errorRed: rgba(255, 0, 0, 0.705);
.dark-img {
  filter: brightness(100%);
}
.dark-img:hover {
  filter: brightness(20%); //mas oscura
  transition: all 400ms;
}

canvas{
  background: $TextColorGlobalPrimary;
  width: 100vw;
  height: 100vh;
}
.canvasBackground {
  background-image: url('../src/assets/media/IAM.png');
  background-size: cover;
  margin-left: 1%;
}
.canvasBackgroundTextIam{
  display: none;
}
#copy{
  display: none;
}
.cursor{
  position: fixed;
  width: 25px;
  height: 25px;
  border: 1px solid #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 6;
}

.cursor2{
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 6;
} 


.displayNone {
  display: none;
}
.marginTop50{
  margin-top: 50px;
}
.marginTop100{
  margin-top: 100px;
}
.marginTop200{
  margin-top: 200px;
}
.paddingTop50{
  padding-top: 50px;
}
.paddingTop100{
  padding-top: 100px;
}
.paddingTop200{
  padding-top: 200px;
}
.marginBottom50{
  margin-bottom: 50px;
}
.marginBottom100{
  margin-bottom: 100px;
}
.marginBottom200{
  margin-bottom: 200px;
}
.paddingBottom50{
  padding-bottom: 50px;
}
.paddingBottom100{
  padding-bottom: 100px;
}
.paddingBottom200{
  padding-bottom: 200px;
}

.paddingLeft20{
  padding-left: 20px;
}
.paddingRight40{
  padding-right: 40px;
}

a{
  text-decoration: none;
  cursor: none;

}

/*Header-----------------------------------------------------------------------------*/

#myVideo {
  position: absolute;
  right: 0;
  height: 0;
  min-width: 100%;
  min-height: 100%;
}

/*-------------------------------------------------*/


header {
  width: 100%;
  height: 900px;
  display: flex;
  background-color: $backgroundColorDarkSecundary;
}
#squareTitle {
  margin: auto;
  border: 5px solid $TextColorGlobalSecundary;
  justify-content: center;
  display: flex;
  flex-direction: column;
  z-index: 3;
}
.titleHeaderContainer{
  width: 100%;
  justify-content: center;
  margin: 0;
}

.titleHeaderText{
  font-family: $titleImpactFont;
  color: $TextColorGlobalSecundary;
  text-align: center;
  width: 100%;
  font-size: 25em;
  letter-spacing: -15px;
  transition: all 1000ms ease;
  position: absolute;
  bottom: 0%;
  line-height: 80%;
}
#title {
  font-family: $titleFont;
  font-weight: 500;
  color: $TextColorGlobalSecundary;
  font-size: 80px;
  text-align: center;
  line-height: 1em;
  text-transform: uppercase;
  margin: 70px 70px 10px 70px;
  transition: all 1000ms ease;
}
#title:hover{
  color: $backgroundColorGlobalSecundary;
}
#subTitle {
  color: $TextColorGlobalSecundary;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 50px;
  transition: all 1000ms ease;
}
#subTitle:hover{
  color: $backgroundColorGlobalSecundary;
}

.scrollDown{
 margin: 700px 60px 0 60px;
 justify-content: end;
 z-index: 3;
}
.scrollDownHomeLeft{
  position:absolute;
  left: 5%;
  bottom: 5%;
  z-index: 3;
 }
 .scrollDownHomeRight{
  position:absolute;
  right: 5%;
  bottom: 5%;
  z-index: 3;
 }
.scrollDown span, .scrollDownHomeLeft span, .scrollDownHomeRight span{
  display: flex;
  color: $backgroundColorDarkThird;
  font-size: 1.3rem;
  writing-mode: vertical-lr;
  margin-bottom: 10px;
  position : relative;
  animation-name: subTitle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.scrollDown fa-icon, .scrollDownHomeLeft fa-icon, .scrollDownHomeRight fa-icon{
  font-size: 1.3rem;
  text-align: center;
  color: $customBlue;
}

@keyframes backToTop {
  0% {
 bottom: 20px;
  }
  50% {
     bottom: 0px;
  }
  100% {
     bottom: 20px;
  }
}
@keyframes subTitle {
  0% {
 bottom: 50px;
  }
  50% {
     bottom: 0px;
  }
  100% {
     bottom: 50px;
  }
}


/*---------------------------------sideBars-------------------------------------*/
.boxSideBars {
  position: fixed;
  height: 50px;
  width: 50px;
  background-color: $backgroundColorDarkPrimary;
  border-top: 1px solid $TextColorGlobalSecundary;
  cursor: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.boxSideBars:hover fa-icon{
 color: $customBlue;
 cursor: none;
}

#day {
  top: 400px;
  left: 0;
  border-right: 1px solid $TextColorGlobalSecundary;
  // border-bottom: 1px solid $TextColorGlobalSecundary;
  
}

#night {
  top: 450px;
  left: 0;
  border-bottom: 1px solid $TextColorGlobalSecundary;
  border-right: 1px solid $TextColorGlobalSecundary;
}

#linkedin {
  top: 400px;
  right: 0;
  border-left: 1px solid $TextColorGlobalSecundary;
}

#github {
  top: 450px;
  right: 0;
  border-bottom: 1px solid $TextColorGlobalSecundary;
  border-left: 1px solid $TextColorGlobalSecundary;
}
// #youtube {
//   top: 450px;
//   right: 0;
//   border-left: 1px solid $TextColorGlobalSecundary;
// }
.socialIcons {
  color: $backgroundColorGlobalSecundary;
  margin: 0;
  font-size: 1.8rem;
  transition: all 500ms ease;
}

/*------------------------------------------------Menu---------------------*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid $TextColorGlobalSecundary;
  background-color: $backgroundColorDarkSecundary;
  position: fixed;
  transition-property: top;
  transition-duration: 500ms;
  z-index: 5;
}

#btnsMenu {
  display: flex;
  justify-content: flex-end;
  width: 85%;
}

#btnsMenu li {
  padding-left: 2%;
}

#homeBtnMenu {
  justify-content: start;
  width: 5%;
}

nav li {
  font-family: $textFontGeneral;
  font-weight: bold;
  list-style-type: none;
}
nav a {
  text-decoration: none;
  color: $TextColorGlobalSecundary;
  font-size: 15px;
  transition: all 400ms;
  z-index: 7;
}
nav a:hover{
  color: $backgroundColorFormBox;
}
nav a:hover ~ .cursor{
  background-color: red!important; /* just for demonstration purposes */
}

.actived{
  color: $customBlue;
}
.hide{
  color: $TextColorGlobalSecundary;
  cursor: pointer;
  padding: 5px;
  margin: 10px;
  display: none;
}
/*****************************************Footer******************************/
footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: $backgroundColorDarkSecundary;
  color: $TextColorGlobalSecundary;
  justify-content: center;
}
.footerTextContainer {
  margin-top: 40px;
}
.footerText {
  font-family: $textFontGeneral;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 5px;
}
.linkBGdark{
  text-decoration: none;
  color: $customBlue;
  transition: all 400ms ease;
  cursor: none;
}
.linkBGdark:hover{
  color: $backgroundColorGlobalPrimary;
}
.linkBGwhite{
  text-decoration: none;
  color: $customBlue;
  transition: all 400ms ease;
  cursor: none;
}
.linkBGwhite:hover{
  color: $backgroundColorDarkPrimary;
}
.animatedBAckToTop{
  position : relative;
  animation-name: backToTop;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


/*------------------------------------------------About---------------------*/
.aboutMe {
  height: 850px;
  background-color: $backgroundColorGlobalSecundary;
  display: flex;
  justify-content: center;
}
.aboutMeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 65%;
  flex-direction: row;
  justify-content: center;
}
#imgAbout {
  width: 50%;
}
#imgAbout1 {
  width: 50%;
  height: auto;
  margin: 15px;
  //border: 5px solid $TextColorGlobalPrimary;
  //box-shadow: 5px 5px 50px rgba(0, 0, 0, .20);
}
#imgAbout2 {
  width: 30%;
  height: auto;
  margin: 15px;
  padding-bottom: 40px;
}
.textAbout {
  justify-content: end;
  width: 50%;
}
.titles {
  font-family: $titleFont;
  font-size: 40px;
  color: $TextColorGlobalPrimary;
  font-weight: 400;
  margin-bottom: 30px;
}
.descriptionAbout {
  color: $TextColorGlobalSecundary;
  line-height: 1.3em;
  margin-right: 200px;
}
.paddingRight200{
  padding-right: 200px;
}
/*------------------------------------------------SkillSet---------------------*/
.skillSetContainer{
  height: auto;
  width: 100%;
  background-color: $backgroundColorGlobalPrimary;
  display: flex;
  justify-content: center;
}

@keyframes scroll{
  0%{
transform: translateX(0);
  }
  100%{
   transform: translateX(calc(-150px*12)); 
  }
}
.slider{
  height: 80px;
  margin:auto;
  overflow: hidden;
  position: relative;
  width: auto;
  background-color:$backgroundColorGlobalPrimary;
}
.slider .sliderTrack{
  animation:  scroll 40s linear infinite;
  display: flex;
  width: calc(150*24);
}
.slider .slide{
  width: 150px;
  height: 150px;
}
.slider img{
  width: 55px;
  height: 55px;
  margin: 0 20px;
}
.slider:hover .sliderTrack {
  animation-play-state: paused;
}


/*------------------------------------------------Projects---------------------*/
#project {
  width: 100%;
  height: 1000px;
  background-color: $backgroundColorGlobalPrimary;
}

/**********************************************************************************CREATE*****************************/

#createProject {
  width: 100%;
  height: 850px;
  display: flex;
}
#imgCreateProject {
  margin: 0;
  width: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/media/computer.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}
#imgCreateProject h1 {
  box-sizing: content-box;
  font-family: $titleFont;
  font-weight: 300;
  font-size: 80px;
  color: $TextColorGlobalDarkBG;
  text-align: center;
  line-height: 1em;
  border: 5px solid $backgroundColorGlobalPrimary;
  padding: 35px;
}

.containerForm {
  width: 50%;
}
.textRequirmentsForm{
  color: $TextColorGlobalSecundary;
  padding: 0 0 10px 20px;
}
/*FORM*/
.containerForm {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  background: $backgroundColorGlobalSecundary;
  flex-direction: column;
  padding: 50px;
}

.containerForm h2 {
  font-family: "Jaapokki-Regular";
  font-weight: 300;
  font-size: 50px;
  color: #35373e;
  margin-bottom: 20px;
  padding-left: 15px;
}

form label {
  display: flex;
  width: 100%;
  margin-top: 10px;
}
form input[type="text"],
form input[type="email"],
form input[type="number"],
form textarea {
  width: 90%;
  margin-top: 5px;
  padding: 15px 5px 5px 20px;
  font-size: 1.1rem;
  color: $TextColorGlobalSecundary;
  border: none;
}
form textarea{
  height: 150px;
}
form input::placeholder {
  font-family: $textFontGeneral !important;
  color: $TextColorGlobalSecundary;
  font-size: 1.1rem;
}
form textarea::placeholder {
  font-family: $textFontGeneral !important;
  color: $TextColorGlobalSecundary;
  font-size: 1.1rem;
}

.OpenAndSubmit {
  display: flex;
  align-items: center;
}
.file {
  width: 45%;
  padding-right: 5px;
  padding-top: 5px;
}
.file input {
  display: none;
}
.file label {
  font-size: 1.1rem;
  padding: 15px 5px 5px 20px;
  text-align: left;
  font-family: "MavenPro-Regular";
  background-color: $backgroundColorGlobalPrimary;
  border: 1px solid $TextColorGlobalSecundary;
  color: $TextColorGlobalSecundary;
  cursor: pointer;
}

#iconFolder {
  font-size: 1.3rem;
  text-align: end;
  color: $TextColorGlobalSecundary;
  margin-left: 10px;
}
.submitForm {
  width: 45%;
}

form input[type="submit"],
form button {
  margin-top: 15px;
  padding: 15px 5px 9px 20px;
  font-size: 1.1rem;
  text-align: left;
  font-family: $textFontGeneral;
  background-color: $backgroundColorGlobalPrimary;
  border: 1px solid $TextColorGlobalSecundary;
  color: $TextColorGlobalSecundary;
  cursor: pointer;
  width: 100%;
  transition: all 400ms ease;
}

form input[disabled] {
  opacity: 0.2;
  cursor: not-allowed;
}
form input[type="submit"]:hover {
  color: $backgroundColorGlobalSecundary;
  background-color: $customBlue;
}

.formError {
  color: $errorRed;
  font-family: $textFontGeneral;
  font-size: 2rem;
  margin: 5px;
}
.red{
  color: $errorRed;
}
.visibilityTransparent {
  visibility: hidden;
}


/********************************************CONTACT**************************************/

 #imgContactProject {
   margin: 0;
   width: 50%;
   background-image: url("./assets/media/LAcaliformiaMap.jpg");
   display: flex;
   justify-content: center;
   align-items: center;
 }
#faMapMarkerAlt{
  color: $backgroundColorDarkPrimary;
  font-size: 3rem;
  position: absolute;
  top: calc(155% - 45px);
  left: calc(30% - 17px);
  z-index: 3;
  cursor: pointer;
}

/******************************************PORTFOLIO***************************************/

.portfolioPage {
  height: auto;
  width: 100%;
  background-color: $backgroundColorGlobalSecundary;
  display: flex;
  justify-content: center;
}
.containerTitle {
  width: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.containerTitle h2 {
  font-family: $titleFont;
  font-size: 40px;
  color: $TextColorGlobalPrimary;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 125px;
}
.containerTitle span {
  width: 50%;
  margin-bottom: 50px;
  color: $TextColorGlobalSecundary;
}
.projectsContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.projectView {
  width: 25%;
  float: left;
  list-style: none;
  overflow: hidden;
  height: 49%;
}
.bgDark{
  background-color: $backgroundColorDarkSecundary;
}
.projectView img {
  width: 100% !important;
}

.cardsProjects:hover {
  transform: scale(1.1);
  transition: 300ms ease-in-out;
}


.hTresPortfolio {
  text-align: center;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $TextColorGlobalDarkBG;
  padding-bottom: 0;
  display: none;
  
}
.projectView:hover .hTresPortfolio {
  display: flex;
}

.spanPorfolio {
  font-size: 0.9rem;
  width: 45%;
  color: $TextColorGlobalSecundary;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0;
  display: none;
}

.spanPorfolio2{
  font-size: 0.9rem;
  width: 70%;
  color: $TextColorGlobalSecundary;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0;
  display: none;
}
.projectView:hover .spanPorfolio{
  display: flex;
}
.projectView:hover .spanPorfolio2 {
  display: flex;
}


.seeProjectLink {
  text-decoration: none;
  color: $TextColorGlobalDarkBG;
}
.seeProjectLink:hover{
  text-decoration: underline;
}

#butonProject {
  background-color: $backgroundColorDarkSecundary;
  color: $backgroundColorGlobalSecundary;
}

.backgroundDarkImgPorfolio{
  filter: brightness(20%); //mas oscura
  transition: all 400ms;
}

.squreTextPorfolio{
  height: 250px;
  width: 250px;
  border: 5px solid $backgroundColorGlobalPrimary;
  background-color: transparent;
  position: absolute;
  top: calc(50% - 125px);
  left: calc(50% - 125px);
  display: none;
}
.projectView:hover .squreTextPorfolio {
  display: flex;
}



/******************************************DETAIL***************************************/
.imgeLeftMedium {
  width: 40%;
  margin-right: 50px;
}
.bottonsProjecrtsDetail {
  width: 100%;
}
.bottonsProjecrtsDetail button {
  width: 48%;
  margin: 20px 3px 0 0;
  border: none;
  border-radius: none;
  background-color: $backgroundColorDarkSecundary;
  color: $backgroundColorGlobalSecundary;
  padding: 10px;
  cursor: none;
  transition: all 400ms ease;

}
.bottonsProjecrtsDetail fa-icon {
  margin-right: 20px;
}
.bottonsGoBack:hover, .bottonsProjecrtsDetail button:hover{
  background-color: $customBlue;
}
.bottonsGoBack{
  width: calc(96% + 3px);
  height: 35px;
  border: none;
  border-radius: none;
  background-color: $backgroundColorDarkPrimary;
  margin-top: 3px;
  color: $backgroundColorGlobalPrimary;
  cursor: none;
  transition: all 400ms ease;

}
.category {
  color: $TextColorGlobalSecundary;
  margin: 15px;
}
.languages {
  color: $TextColorGlobalSecundary;

  margin-left: 15px;
}





/******************************MEDIA QUERIES****************************************/

/*DESKTOP*/
@media (max-width: 1910px){
  header{
    height: 850px;
  }
  #myVideo{
    min-height: 110%;
  }

}


/*LAPTOP*/

/*--------------------------------------header--------*/
@media (max-width: 1550px){
  header{
    height: 720px;
  }
  
  #day {
    top: 300px;
  }

  #night {
    top: 350px;
  }

  #linkedin {
    top: 300px;
  }

  // #youtube {
  //   top: 300px;
  // }

  #github {
    top: 350px;
  }
  .scrollDown{
    margin: 500px 60px 0 60px;
    justify-content: end;
   }
  nav{
    height: 50px;
  }
  
  #imgCreateProject, #imgContactProject{
    background-size: cover;
  }
  #createProject{
    height: 730px;
  }
  
  .squreTextPorfolio {
    height: 220px;
    width: 220px;
    position: absolute;
    top: calc(50% - 110px);
    left: calc(50% - 110px);
    display: none;
}
.titleHeaderText{
  font-size: 22em;
}
  .aboutMe {
      height: 750px;
  }

}

/*tablet*/
@media (max-width: 1080px){
  header{
    height: 720px;
  }
  #myVideo{
    min-height: 77%;
  }

}


/*mobile*/
@media (max-width: 845px){

  html, body {
    overflow-x: hidden;
  }
  //header-----------
  header{
    height: 625px;
  }
  #myVideo{
    min-height: 80%;
  }
  .scrollDown, .scrollDownHomeLeft span,.scrollDownHomeRight span{
    display: none;
  }
  
  nav {
    height: auto;
  }
  nav ul {
    display: none;
    justify-content: normal;
    width: 100%;
    flex-direction: column;
    margin: 20px 0 0 20px;
  }
  nav li {
    margin: 20px;
  }
  .hide{
    display: flex;
    padding: 25px 25px 0 25px;
  }
  .titleHeaderText {
    font-size: 8em;
    letter-spacing: -3px;
    position: absolute;
    bottom: 20%;
    line-height: 100%;
  }
  .canvasBackground{
    background: transparent;
  }
  .canvasBackgroundTextIam {
    display: block;
    color: $TextColorGlobalDarkBG;
    font-family: "IMPACT";
    font-size: 10em;
    position: absolute;
    top: 36%;
    left: 12%;
}

  //about me----------
  .aboutMeContainer{
    flex-wrap: inherit;
    width: 95%;
    flex-direction: column;
  }
  .descriptionAbout {
    margin-right: 20px;
    margin-left: 5px;
  }
  #imgAbout{
    width: 100%;
    margin-bottom: 15px;
  }
  #imgAbout1{
    margin: 5px;
  }
  .textAbout{
    width: 75%;
    margin-top: 25px;
  }
  .containerTitle h2 {
    margin-top: 30px;
  }
  #imgCreateProject {
    width: 100%;
  }
  #createProject {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  #tilleImgCreateProject{
    margin: 20px;
  }
 
  .containerForm {
    width: 100%;
  }
  .titles{
    margin-bottom: 10px;
    font-size: 35px;
  }
  footer{
    height: 175px;
  }
  .footerText {
    padding: 0 25px;
  }
  //projects-----------
  .containerTitle span {
    width: 100%;
    margin-bottom: 50px;
  }
  .projectView {
    width: 100%;
    height: auto;
  }
  #projectsTitle{
    margin-top: 125px;
  }
  .squreTextPorfolio{
    height: 250px;
    width: 250px;
    position: absolute;
    top: calc(50% - 125px);
    left: calc(50% - 125px);
  }

  //detail---------------
  .aboutMe {
    height: auto;
    padding: 50px 0px;
  }
  .imgeLeftMedium{
    width: 100%;
    margin: 0px!important;
    margin-bottom: 25px;
  }
  //contact-------------
  .textRequirmentsForm{
      padding: 0 0 10px 0px;
  }
  .tooltip{
    width: 100%;
    position: static;
    opacity: 1;
  }
  #faMapMarkerAlt{
    display: none;
  }
  .radar{
    display: none;
  }
  #imgContactProject{
    width: 100%;
  }
  .tooltip::after{
    content: "";
    display: none;
  }
}


